.toggle-switch {
	width: 56px;
	height: 28px;
	border: 2px solid #00000080;
	border-radius: 20px;
	cursor: pointer;
	position: relative;
}

.toggle-switch__checkbox {
	opacity: 0;
}

.toggle-switch__slider {
	width: 30px;
	height: 32px;
	background-color: #000;
	border-radius: 50%;
	position: absolute;
	left: -2px;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.25s;
}

.toggle-switch__checkbox:checked + .toggle-switch__slider {
	left: 28px;
}

.toggle-switch__text {
	color: #00000080;
	z-index: 1;
	position: absolute;
	font-family: "Cabinet Grotesk", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	top: 50%;
	transform: translateY(-50%);
	transition: color 0.4s;
}

.toggle-switch__text_F {
	left: 8px;
	color: #ffffff;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_F {
	color: #00000080;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
	color: #ffffff;
}

.toggle-switch__text_C {
	right: 8px;
}
