.add-garment-modal__label {
	margin-top: 24px;
}

.add-garment-modal__input {
	display: block;
	margin-top: 3px;
	width: 100%;
	box-sizing: border-box;
	border-style: none;
	border-bottom: 1px solid #00000080;
	padding: 0;
}

.add-garment-modal__legend {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	margin-bottom: 8px;
}

.add-garment-modal__radio-buttons {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 24px 0 32px;
	padding: 0;
	border-style: none;
}

.add-garment-modal__label_type_radio {
	opacity: 0.5;
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
	transition: opacity 120ms ease-in-out;
}

.add-garment-modal__label_type_radio:has(.add-garment-modal__radio-input:checked) {
	opacity: 1;
}

.add-garment-modal__radio-input {
	margin: 0;
	accent-color: #000;
	transform: scale(1.15);
	transform-origin: left center;
}

.add-garment-modal__error {
	color: red;
	font-size: 14px;
	position: absolute;
	bottom: 75px;
	left: 28px;
	right: 28px;
	margin: 0;
}

.add-garment-modal__error_hidden {
	visibility: hidden;
}