.card {
	height: 326px;
	flex: 0 0 calc((100% - 3 * 21px) / 4);
	box-sizing: border-box;

	border-radius: 16px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 16px 16px; /* top padding reserves space for the label */
	background-color: #00000009;
	border: 1px solid #0000004d;
	overflow: hidden; /* keeps image corners clean */
}

.card__name {
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	padding: 8px 16px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.8);
	color: #00000099;
	font-family: var(--font-ui-text-2-bold-family);
	font-size: var(--font-ui-text-2-bold-size);
	line-height: var(--font-ui-text-2-bold-height);
	font-weight: var(--font-ui-text-2-bold-weight);
	max-width: calc(100% - 32px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card__image {
	position: static; 
	width: 100%;
	max-width: 226px; 
	max-height: 100%;
	height: auto;
	object-fit: contain; 
	display: block;
	max-height: calc(
		326px - 50px - 16px
	); 
}

@media (max-width: 1200px) {
	.card {
		flex-basis: calc((100% - 2 * 21px) / 3);
	} 
}

@media (max-width: 900px) {
	.card {
		flex-basis: calc((100% - 1 * 21px) / 2);
	} 
}

@media (max-width: 600px) {
	.card {
		flex-basis: 100%;
	} 
}
