.card {
    width: 323px;
    height: 326px;
    border-radius: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #00000009;
}

.card__name {
    position: absolute;
    top: 15px;
    margin: 0;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    font-style: bold;
}

.card__image {
    width: 226px;
    position: absolute;
    top: 50px;
    left: 49px;
}