.weather-card {
    position: relative;
}

.weather-card__temp {
    font-family: "cabinet Grotesk", sans-serif;
    font-weight: 700;
    font-size: 36px;
	line-height: 40px;
	margin: 0;
    position: absolute;
    top: 20px;
    left: 16px;
    color: #FFFFFF;
}

.weather-card__image {
    object-fit: cover;
    object-position: right top;
    width: 100%;
    display: flex;
    height: 80px;
    border-radius: 12px;
    overflow: hidden;
}
