.page {
  background-color: #f3f3f3;
}

.page__content {
  max-width: 1360px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
}

/* push footer down */
main {
  flex: 1;
}
