.cards__text {
	font-family: var(--font-ui-text-1-family);
	font-size: var(--font-ui-text-1-size);
	font-weight: var(--font-ui-text-1-weight);
	line-height: var(--font-ui-text-1-height);
	color: #000000;
    margin: 40px auto 34px;
}

.cards__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 21px;
}

