.header {
	display: flex;
	align-items: center;
	padding: 32px 0 28px;
	font-family: "Cabinet Grotesk", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 0%;
}

.header__logo {
	margin-right: 24px;
}

.header__date-and-location {
	margin: 0;
}

.header__add-clothes-btn {
	margin: 0 20px 0;
	border: none;
}

.header__user-container {
	display: flex;
	align-items: center;
	gap: 12px;
}

.header__username {
	margin: 0;
	line-height: 100%;
}

.header__toggle {
    margin-left: auto;
    margin-right: 0;
}

.header__nav-link {
	text-decoration: none;
	color: inherit;
}
