.modal__content_type_image {
  padding: 0;           
  overflow: hidden;     
}

.modal__image {
  display: block;       
  width: 100%;
  height: 498px;         
  object-fit: cover;    
}


.modal__footer {
  padding: 20px 24px 24px;
  background: #fff;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__caption,.modal__weather {
    font-family: "Cabinet Grotesk", sans-serif;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: bold;
}

.modal__weather {
    margin-top: 12px;
}
