.sidebar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    font-family: "Cabinet Grotesk", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 0%;
}

.sidebar__user-container {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
    min-height: 40px;
}

.sidebar__user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar__username {
	margin: 0;
	line-height: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}