.sidebar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    font-family: var(--font-ui-text-1-family);
    font-weight: var(--font-ui-text-1-weight);
    font-size: var(--font-ui-text-1-size);
    line-height: var(--font-ui-text-1-height);
    color: #000000;
    letter-spacing: 0%;
}

.sidebar__user-container {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
    min-height: 40px;
}

.sidebar__user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar__username {
	margin: 0;
	line-height: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}