.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 24px 0;
	font-family: "Cabinet Grotesk", sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: #000;
}

.footer__text,
.footer__year {
	margin: 0;
}
