
.clothes-section {
    width: 100%;
    flex-grow: 1;
}

.clothes-section__button-container {
    display: flex;
    align-items: center;
    gap: 12px;
    min-height: 40px;
}

.clothes-section__button-container p {
    margin: 0;
    font-family: var(--font-ui-text-1-family);
    font-size: var(--font-ui-text-1-size);
    font-weight: var(--font-ui-text-1-weight);
    line-height: var(--font-ui-text-1-height);
    color: #000000;
}

.clothes-section__cards-container {
    width: 100%;
}

.clothes-section__cards-list {
    list-style: none;
    padding: 0;
    margin: 24px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 20px;
}